.slideshow-image{
	display: inline-block;
	height: 600px;
	width: 100%;
}

.bgimage {
	width: 100%;
	background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
	color: white;
	height: 100%;
	text-align: right;
}

.container.container-fullscreen{
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;

  position: absolute;
  top: 0;
  z-index: 1050;
  left: 0;
  right: 0;
  bottom: 0;

  .slideshow-image{
    width: 100%;
    height: 100%;

    background-color: @navbar-inverse-bg;
  }

  .row{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    [class^="col-"], [class*=" col-"]{
      padding: 0;
      margin: 0;

      width: 100%;
      height: 100%;
    }
  }
}

.shadow-sm{
	box-shadow: 0 1px 2px 0 @gray;

	&:hover{
    	box-shadow: 0 1px 3px 1px @brand-primary;
    }
}

.slideshow-item{
	background-color: @gray-lighter;
    background-image: url("/src/images/thumb/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;

//    transform: translateX(16px);
//
//    & + .slideshow-item{
//    	position: absolute;
//    	top: 0;
//    	left: 15px;
//    	width: calc(~"100% - 30px");
//    	transform: rotateX(0deg) translateX(4px) translateY(20px) skew(0deg, 8deg) rotateY(-20deg);
//
//    	& + .slideshow-item{
//			transform: rotateX(0deg) translateX(-10px) translateY(38px) skew(0deg, 16deg) rotateY(-30deg);
//    	}
//    }
}