.slideshow-image{
	display: inline-block;
	height: 600px;
	width: 100%;
}

.bgimage {
	width: 1200px;
	background-position: center center;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: right;
}