<div>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6" ng-repeat="item in [1,2,3]">
			<div class="slideshow-item shadow-sm" style='background-image: url("/src/images/thumb/{{item}}.jpg");'>
				
			</div>
			<div class="slideshow-item shadow-sm" style='background-image: url("/src/images/thumb/{{item + 1}}.jpg");'>
				
			</div>
			<div class="slideshow-item shadow-sm" style='background-image: url("/src/images/thumb/{{item + 2}}.jpg");'>
				
			</div>

		</div>
	</div>
	<div class="row" ng-if="false">
		<div class="col-lg-12">
	        <ul rn-carousel class="slideshow-image image">
	            <li><div class="bgimage" style='background-image: url("images/1.jpg");'></div></li>
	            <li><div class="bgimage" style='background-image: url("images/2.jpg");'></div></li>
	            <li><div class="bgimage" style='background-image: url("images/3.jpg");'></div></li>
	            <li><div class="bgimage" style='background-image: url("images/4.jpg");'></div></li>
	            <li><div class="bgimage" style='background-image: url("images/5.jpg");'></div></li>
	        </ul>
	    </div>

	    <div class="glyphicon glyphicon-resize-small"></div>
	</div>
</div>